<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
  margin-top: -15px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

</style>

<!-- Breadcrumb -->
<ol class="breadcrumb m-b-0">
    <li><a href="#/">Home</a></li>
    <li><a href="#/dinein">Dine In</a></li>
    <li class="active">Order</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Order</strong><br>
                        <small>Table No: {{table.tm_description}} ({{table.am_name}})</small>

                        <label class="switch">
                          <input type="checkbox" id="getbox" ng-click="getBox();" checked>
                          <span class="slider round"></span>
                        </label>
                        
                    </div>
                    <!-- /.row -->
                     <div class="card-block"> 
                        <div class="row">
                           <div class="col-lg-12">

                              <div class="col-lg-2" ng-repeat="category in categoryList | filter : category"><br>
                                 <button ng-click="getid(category);" id="{{category.ctm_id}}" style="border-radius: 5px;" class="btn form-control">
                                    <img ng-if="category.ctm_type == 'Starter'" id="t2" height="80" width="80" style="border-radius: 5px;" src="resources/assets/img/starter.png">
                                    <img ng-if="category.ctm_type == 'Chineese-starter'" id="t2" height="80" width="80" style="border-radius: 5px;" src="resources/assets/img/chineesestart.png">
                                    <img ng-if="category.ctm_type == 'Veg-main-course'" id="t2" height="80" width="80" style="border-radius: 5px;" src="resources/assets/img/veg.png">
                                    <img ng-if="category.ctm_type == 'Non-veg-main-course'" id="t2" height="80" width="80" style="border-radius: 5px;" src="resources/assets/img/nonveg.png">
                                    <img ng-if="category.ctm_type == 'Desserts'" id="t2" height="80" width="80" style="border-radius: 5px;" src="resources/assets/img/dessert.png">
                                    <div>{{category.ctm_type}}</div>
                                 </button>
                              </div>

                           </div>
                        </div>
                            <!-- row -->
                     </div>
                        <!-- /card block-->
                    <div class="card-footer">
                    </div>                   
                </div>
                    <!-- /.card  -->
            </div>
                <!-- /col-lg-12 -->
        </div>
    </div>
</div>

<div id="confirm-change" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Cancel Table</h4>
      </div>
      <div class="modal-body">
        <button type="button" id="del" class="btn btn-danger" ng-click="deleteConfirm()">Change Table</button>
        <button type="button" id="del" class="btn btn-warning" ng-click="changeTable(table)">Cancel Reservation</button>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>