<style>
.switch{
  float: right;
  margin-top: -15px;
}
.color{
      background-color: white;
   }
</style>

<!-- Breadcrumb -->
<ol class="breadcrumb m-b-0">
    <li><a href="#/">Home</a></li>
    <li><a href="#/dinein">Dine In</a></li>
    <li class="active">Order</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Order</strong><br>
                        <small>Table No: {{tableObj.tm_description}} ({{tableObj.am_name}})</small>

                        <button class="btn btn-primary switch" id="getbox" ng-click="getBox()">Edit Order</button>
                        
                    </div>
                    <!-- /.row -->
                      <div class="card-block"> 
                        <div class="row">
                            <div class="col-lg-12">

                              <div class="col-lg-2" ng-repeat="category in categoryList | filter : category"><br>
                                 <button ng-click="getPro(category);" id="{{category.ctm_id}}" style="border-radius: 5px;" class="btn form-control">
                                    <img ng-if="category.ctm_type == 'Starters'" id="t2" height="80" width="80" style="border-radius: 5px;" src="resources/assets/img/starter.png">
                                    <img ng-if="category.ctm_type == 'Chineese-Starters'" id="t2" height="80" width="80" style="border-radius: 5px;" src="resources/assets/img/chineesestart.png">
                                    <img ng-if="category.ctm_type == 'Veg-Meal'" id="t2" height="80" width="80" style="border-radius: 5px;" src="resources/assets/img/veg.png">
                                    <img ng-if="category.ctm_type == 'Non-Veg-Meal'" id="t2" height="80" width="80" style="border-radius: 5px;" src="resources/assets/img/nonveg.png">
                                    <img ng-if="category.ctm_type == 'Desserts'" id="t2" height="80" width="80" style="border-radius: 5px;" src="resources/assets/img/dessert.png">
                                    <div>{{category.ctm_type}}</div>
                                 </button>
                              </div>
                            </div>
                                <!-- col-lg-12 -->
                            
                                
                        </div>
                        <div ng-show="pro == 1">
                          <div class="row">
                            <div class="col-lg-6"><hr>
                              <div class="col-lg-4" ng-repeat="product in productList | filter : product">
                                <button ng-click="addOrder(product);" id="{{product.ctm_id}}" style="border-radius: 5px;" class="btn form-control">
                                  <div><img ng-src="data:image/png;base64,{{product.pm_image}}" height="80" width="80"><p>{{product.pm_description}}</p></div>
                                </button>
                              </div>
                            </div>
                            <div class="col-lg-6"><hr>
                              <div class="col-lg-12">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                      <tr>
                                        <th>Product Name</th>
                                        <th>Quantity</th> 
                                        <th>Price</th>
                                        <th>Action</th> 
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="item in itemList track by $index">
                                        <td>{{item.pm_description}}</td>
                                        <td>{{item.pm_quantity}}</td>
                                        <td>{{item.pm_rate}}</td>

                                        <td><button class="btn-danger" id="om_min" ng-click="om_min(item)"><b>-</b></button></td>
                                      </tr>
                                    </tbody>
                                </table>
                                <div class="col-lg-offset-6"><b>Total:</b><input type="text" readonly></div>
                              </div>

                            </div>
                          </div>
                        </div>
                            <!-- row -->
                      </div>
                        <!-- /card block-->
                    <div class="card-footer">
                    </div>                   

         </div>
          <!-- /.card  -->
      </div>
        <!-- /col-lg-12 -->

    </div>
  </div>
</div>             
<!-- // modal for switch -->
<div id="confirm-change" class="modal" role="dialog" tabindex="-1"  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="closechk()">&times;</button>
        <h4 class="modal-title">Change / Cancel Table </h4>
        <p style="color: green; font-family: "Bauhaus 93", Times, serif;"><b>Table No: {{tableObj.tm_description}} ({{tableObj.am_name}})</b></p>
      <div class="modal-body">
        <button type="button" id="del" class="btn btn-warning" ng-click="changeTable()">Change Table</button>
        <button type="button" class="btn btn-danger" ng-click="deleteTable(tableObj)">Cancel Reservation</button>

        <div ng-show="tab==1">
              <div class="row">
                <div class="col-lg-12">
                  <div class="col-lg-2" ng-repeat="tablels in tableList | filter : tablels"><br>
                    <button ng-click="getid(tablels);" id="{{tablels.tm_id}}" style="border-radius: 5px;" class="color" ng-if="tablels.tm_isreserved == 0">
                     <img ng-if="tablels.tm_size == '2 Seaters'" id="t2" height="80" width="80" src="resources/assets/img/t2.png">
                      <img ng-if="tablels.tm_size == '4 Seaters'" id="t2" height="80" width="80" src="resources/assets/img/t4.png">
                      <img ng-if="tablels.tm_size == '6 Seaters'" id="t2" height="80" width="80" src="resources/assets/img/t6.png">
                      <div>{{tablels.tm_description}} ({{tablels.am_name}})</div>
                    </button>
                    <button ng-click="getid(tablels);" id="{{tablels.tm_id}}" style="border-radius: 5px;" class="btn-success" ng-if="tablels.tm_isreserved == 1" disabled="disabled">
                      <img ng-if="tablels.tm_size == '2 Seaters'" id="t2" height="80" width="80" src="resources/assets/img/t2.png">
                      <img ng-if="tablels.tm_size == '4 Seaters'" id="t2" height="80" width="80" src="resources/assets/img/t4.png">
                      <img ng-if="tablels.tm_size == '6 Seaters'" id="t2" height="80" width="80" src="resources/assets/img/t6.png">
                      <div>{{tablels.tm_description}} ({{tablels.am_name}})</div>
                    </button>
                  </div>
                  <div class="col-lg-2"><br>
                    <div class="row note">
                      <div class="col-md-12" style="margin-top: 10px;">
                        <button class="avail-seat" style="width: 30px;height: 20px; background-color: green; border: black solid 2px;">
                        </button> Reserved Seat
                      </div>
                      <div class="col-md-12" style="margin-top: 10px;">
                        <button class="booked" style="width: 30px;height: 20px;background-color:white; border: black solid 2px;">
                        </button> Available Seat 
                      </div>
                    </div>
                  </div>
                </div>
                   <!-- col-lg-12 -->
              </div>
                   <!-- row -->
            </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- // end modal for switch -->