
<!-- Breadcrumb -->
<ol class="breadcrumb m-b-0">
    <li><a href="#/">Home</a></li>
    <li class="active">Orders</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Order</strong>
                        <small>Form</small>
                    </div>
                    <!-- /.row -->
                     <div class="card-block">
                        <div class="row">
                          <div class="col-lg-12">
                            <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Order No, Customer No, Table Name"/><br>
                          </div>
                          <div class="col-lg-12">
                            <table class="table table-bordered table-striped" id="checkrecord">
                              <thead>
                                <tr>
                                  <th>Order Number</th>
                                  <th>Customer</th>
                                  <th>Table</th>
                                  <th>Amount</th>
                                  <th>Status</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="orderli in orderList">
                                  <td>{{orderli.om_no}}</td>
                                  <td>{{orderli.cm_name}} {{orderli.cm_mobile}}</td>
                                  <td>{{orderli.tm_description}} {{orderli.am_name}}</td>
                                  <td>{{orderli.om_total}}</td>
                                  <td>{{orderli.opm_status_type}}</td>
                                  <td>
                                    <a href="#/product/edit/{{product.pm_id}}"><i class="icon icon-pencil"></i></a>
                                    <i class="icon icon-trash" data-toggle="modal" data-target="#confirm-delete" ng-click="deleteProduct(product.pm_id)"></i>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{orderListcount}} Order's</span>
                          <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0" style="float: right;margin-top: -27px;">
                            <pagination class="inline"
                                ng-model="currentPage"
                                total-items="productListcount"
                                max-size="maxSize"
                                boundary-links="true" data-num-pages="noOfPages"
                                items-per-page="numPerPage">
                            </pagination>
                          </span>
                        </div>
                            <!-- row -->
                     </div>
                        <!-- /card block-->
                    <div class="card-footer">
                    </div>                   
                </div>
                    <!-- /.card  -->
            </div>
                <!-- /col-lg-12 -->
        </div>
    </div>
</div>

