<style type="text/css">
   .chart {
             width: 500px;
             height: 500px;
        } 
</style>

<ol class="breadcrumb m-b-0">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">

        
        <!-- </div>
         <div class="card-group m-b-1">
            <div class="card">
                <div class="card-block">
                    <div class="h1 text-muted text-xs-right m-b-2">
                        <i class="icon-people"></i>
                    </div>
                    <div class="h4 m-b-0">87.500</div>
                    <small class="text-muted text-uppercase font-weight-bold">Visitors</small>
                    <progress class="progress progress-xs progress-info m-t-1 m-b-0" value="25" max="100">25%</progress>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <div class="h1 text-muted text-xs-right m-b-2">
                        <i class="icon-user-follow"></i>
                    </div>
                    <div class="h4 m-b-0">385</div>
                    <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
                    <progress class="progress progress-xs progress-success m-t-1 m-b-0" value="25" max="100">25%</progress>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <div class="h1 text-muted text-xs-right m-b-2">
                        <i class="icon-basket-loaded"></i>
                    </div>
                    <div class="h4 m-b-0">1238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
                    <progress class="progress progress-xs progress-warning m-t-1 m-b-0" value="25" max="100">25%</progress>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <div class="h1 text-muted text-xs-right m-b-2">
                        <i class="icon-pie-chart"></i>
                    </div>
                    <div class="h4 m-b-0">28%</div>
                    <small class="text-muted text-uppercase font-weight-bold">Returning Visitors</small>
                    <progress class="progress progress-xs progress-primary m-t-1 m-b-0" value="25" max="100">25%</progress>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <div class="h1 text-muted text-xs-right m-b-2">
                        <i class="icon-speedometer"></i>
                    </div>
                    <div class="h4 m-b-0">5:34:11</div>
                    <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>
                    <progress class="progress progress-xs progress-danger m-t-1 m-b-0" value="25" max="100">25%</progress>
                </div>
            </div>
        </div> -->

       

        
        <!-- <div zingchart id="chart-1" zc-json="myJson" zc-width="100%" zc-height="480px"></div> -->
        <!-- <div 
            data-ac-chart="'bar'" 
            data-ac-data="data" 
            data-ac-config="config" 
            class="chart">
        </div>  -->
  
        <!-- <div class="row row-equal">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-5 p-x-1">
                                <h4 class="card-title">Total Sale</h4>
                                <div class="small text-muted" style="margin-top:-10px;">November 2015</div>
                            </div>
                            <div class="col-xs-7 p-x-1">
                                
                            </div>
                        </div>
                        <div class="chart-wrapper" style="height:289px;margin-top:30px;">
                            <canvas id="main-chart" height="277"></canvas>
                        </div>
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li>
                                <div class="text-muted">Visits</div>
                                <strong>29.703 Users (40%)</strong>
                                <progress class="progress progress-xs progress-success" value="40" max="100">30%</progress>
                            </li>
                            <li>
                                <div class="text-muted">Pageviews</div>
                                <strong>78.706 Views (60%)</strong>
                                <progress class="progress progress-xs progress-warning" value="60" max="100">60%</progress>
                            </li>
                            <li class="hidden-sm-down">
                                <div class="text-muted">New Users</div>
                                <strong>22.123 Users (80%)</strong>
                                <progress class="progress progress-xs progress-danger" value="80" max="100">80%</progress>
                            </li>
                            <li class="hidden-sm-down">
                                <div class="text-muted">Bounce Rate</div>
                                <strong>40.15%</strong>
                                <progress class="progress progress-xs progress-primary" value="40" max="100">40%</progress>
                            </li>
                        </ul>
                    </div>
                </div>
                /.card-->
            <!-- <div class="col-md-3">
                <div class="card card-inverse card-primary">
                    <div class="card-block p-b-0">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary-outline active dropdown-toggle p-a-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-settings"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                        <h4 class="m-b-0">9.823</h4>
                        <p>Members online</p>
                    </div>
                    <div class="chart-wrapper p-x-1">
                        <div>
                            <canvas id="card-chart1" class="chart chart-line" height="70"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card card-inverse card-warning">
                    <div class="card-block p-b-0">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-warning-outline active dropdown-toggle p-a-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-settings"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                        <h4 class="m-b-0">9.823</h4>
                        <p>Members online</p>
                    </div>
                    <div class="chart-wrapper">
                        <div class="chart-wrapper">
                            <div>
                                <canvas id="card-chart3" class="chart chart-line" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-inverse card-danger">
                    <div class="card-block p-b-0">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-danger-outline active dropdown-toggle p-a-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-settings"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                        <h4 class="m-b-0">9.823</h4>
                        <p>Members online</p>
                    </div>
                    <div class="chart-wrapper p-x-1">
                        <div>
                            <canvas id="card-chart4" class="chart chart-bar" height="70"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--/row-->
        <div class="row row-equal">
            <div class="col-lg-3" ng-show="show == 1">
              <div class="form-group">
                <label>From Date</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="user-datepicker-from" placeholder="From Date" readonly="readonly">
                </div>
              </div>
            </div>
            <div class="col-lg-3" ng-show="show == 1">
              <div class="form-group">
                <label>To Date</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="user-datepicker-to" placeholder="To Date" readonly="readonly">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <a style="text-decoration-line: none;" href="#/report">
                    <div class="social-box facebook">
                        
                        <i class="">Daily Sale</i>
                        <div class="chart-wrapper">
                            <canvas id="social-box-chart-1" height="90"></canvas>
                        </div>
                        <ul>
                            <li>
                                <span>Order's</span>
                                <strong>{{limit.total}}</strong>
                            </li>
                            <li>
                                <span>Total Amount</span>
                                <strong>{{limit.amount | number:2}}</strong>
                            </li>
                        </ul>

                    </div>
                </a>
                <!--/.social-box-->
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-3">
                <a style="text-decoration-line: none;" href="#/report">
                    <div class="social-box twitter">
                        <i class="">Monthly Sale</i>
                        <div class="chart-wrapper">
                            <canvas id="social-box-chart-2" height="90"></canvas>
                        </div>
                        <ul>
                            <li>
                                <span>Order's</span>
                                <strong>{{reportListmonthly.total}}</strong>
                            </li>
                            <li>
                                <span>Total Amount</span>
                                <strong>{{reportListmonthly.amount | number:2}}</strong>
                            </li>
                        </ul>
                    </div>
                </a>
                <!--/.social-box-->
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-3">
                <div class="social-box linkedin">
                    <i class="fa fa-linkedin"></i>
                    <div class="chart-wrapper">
                        <canvas id="social-box-chart-3" height="90"></canvas>
                    </div>
                    <ul>
                        <li>
                            <strong>500+</strong>
                            <span>contacts</span>
                        </li>
                        <li>
                            <strong>292</strong>
                            <span>feeds</span>
                        </li>
                    </ul>
                </div>
                <!--/.social-box-->
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-3">
                <div class="social-box google-plus">
                    <i class="fa fa-google-plus"></i>
                    <div class="chart-wrapper">
                        <canvas id="social-box-chart-4" height="90"></canvas>
                    </div>
                    <ul>
                        <li>
                            <strong>894</strong>
                            <span>followers</span>
                        </li>
                        <li>
                            <strong>92</strong>
                            <span>circles</span>
                        </li>
                    </ul>
                </div>
                <!--/.social-box-->
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
        
        <!--/.row-->
    </div>
</div>
<!-- /.conainer-fluid