<!-- Breadcrumb -->
<ol class="breadcrumb m-b-0">
    <li><a href="#/">Home</a></li>
    <li><a href="#/product">Dishes</a></li>
    <li class="active">New Dishes</li>
</ol>

<div class="container-fluid" ng-init="getDetails();">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>New Dishes</strong>
                        <small>Form</small>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Category Name</label>
                                    <input type="text" id="pm_ctm_id" class="form-control" ng-model="product.pm_ctm_id" placeholder="Select category name" typeahead="state as state.ctm_type for state in categoryList | filter:$viewValue | limitTo:8" />
                                </div>
                            </div> -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Category Name</label>
                                    <input type="text"
                                        id="pm_ctm_id"
                                        ng-model="product.pm_ctm_id"
                                        typeahead="obj as obj.ctm_type for obj in getCategoryList($viewValue)"
                                        typeahead-loading="loadingCateList"
                                        typeahead-no-results="noCateListResults"
                                        class="form-control"
                                        placeholder="Type category name">
                                    <i ng-show="loadingCateList" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noCateListResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Dish Name</label>
                                    <input type="text" id="pm_description" class="form-control" ng-model="product.pm_description"/>
                                </div>
                            </div>
                            <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Quantity</label>
                                    <input type="text" id="pm_quantity" class="form-control keyboard-num" ng-model="product.pm_quantity"/>
                                </div>
                            </div> -->
                            <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Price</label>
                                    <input type="text" id="pm_rate" class="form-control keyboard-num" ng-model="product.pm_rate"/>
                                </div>
                            </div> -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Dish Number</label>
                                    <input type="number" id="pm_dish_no" class="form-control keyboard-num" ng-model="product.pm_dish_no"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Expected In</label>
                                    <select class="form-control" id="pm_expected_in" ng-model="product.pm_expected_in">
                                        <option value="">Select time</option>
                                        <option class="form-control">10 Mins</option>
                                        <option class="form-control">15 Mins</option>
                                        <option class="form-control">20 Mins</option>
                                        <option class="form-control">25 Mins</option>
                                        <option class="form-control">30 Mins</option>
                                    </select> 
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <img src="{{displayImages}}" onclick="document.getElementById('img-path').click(); return false; " id="app-file-btn" title="Click to add Photo" height="100" width="100">
                                    <input  type="file" 3d="img-path" name="file" id="profilePhotoFileUpload" placeholder="" ng-file-select="onFileSelect($files)" accept="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th style="text-align: center;" colspan="2">FULL (Price)</th>
                                            <th style="text-align: center;" colspan="2">HALF (Price)&nbsp;
                                                <input type="checkbox" class="custom-control-input" id="check_half" ng-model="check_half" ng-true-value="true" ng-false-value="false">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="text-align: center;">Area</th>
                                            <th style="text-align: center;">Day</th>
                                            <th style="text-align: center;">Night
                                                <input type="checkbox" class="custom-control-input" id="check_full_night" ng-model="check_full_night" ng-true-value="true" ng-false-value="false">
                                            </th>
                                            <th style="text-align: center;">
                                                <span ng-show="check_half">Day</span>
                                            </th>
                                            <th style="text-align: center;">
                                                <span ng-show="check_half">Night</span>
                                                <input type="checkbox" class="custom-control-input" id="check_half_night" ng-model="check_half_night" ng-true-value="true" ng-false-value="false" ng-show="check_half">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="view in tableAreaDetails track by $index">
                                            <td> {{view.am_name}}</td>
                                            <td>
                                                <input type="number" class="form-control id_of_2th_td" ng-model="view.ppm_fullday_price"/>
                                            </td>

                                            <td>
                                                <input type="number" class="form-control id_of_3th_td" ng-model="view.ppm_fullnight_price" ng-show="check_full_night"/>
                                            </td>

                                            <td>
                                                <input type="number" class="form-control id_of_4th_td" ng-model="view.ppm_halfday_price" ng-show="check_half"/>
                                            </td>

                                            <td>
                                                <input type="number" class="form-control id_of_5th_td" ng-model="view.ppm_halfnight_price" ng-show="check_half_night && check_half"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-danger" onclick="window.location = '#/'" id="btncancel">Back</button>
                        <button type="button" class="btn btn-sm btn-success" id="btnsave" ng-click="addProduct()">Save Dishes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
