<!-- Bootstrap Form Helpers -->
    <link href="resources/lib/bootstrapsformhelpers/bootstrap-formhelpers.css" rel="stylesheet" media="screen">

<!-- Breadcrumb -->
<ol class="breadcrumb m-b-0">
    <li><a href="#/">Home</a></li>
    <li class="active">Edit Corporate</li>
</ol>

<div class="container-fluid" ng-init="getCorporate();">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Setup Corporate</strong>
                        <small>Form</small>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Corporate Name</label>
                                    <input type="text" id="scm_corp_name" class="form-control" ng-model="setCorp.scm_corp_name">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Country</label>
                                   <!--  <input type="text" id="scm_country" class="form-control" ng-model="setCorp.scm_country"> -->
                                    <form action="">
                                      <select id="countries_states1" class="form-control input-medium bfh-countries">
                                      </select>
                                    </form>
                                </div>
                            </div>
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
    
                                </div>
                            </div> -->  
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Address Line</label>
                                    <textarea id="scm_address" class="form-control" ng-model="setCorp.scm_address"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Landmark</label>
                                    <!-- <textarea type="text" id="scm_landmark" class="form-control" ng-model="purchase.scm_landmark"></textarea> -->
                                    <input type="text" id="scm_landmark" class="form-control" ng-model="setCorp.scm_landmark">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Area</label>
                                    <input type="text" id="scm_area" class="form-control" ng-model="setCorp.scm_area">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">City</label>
                                    <input type="text" id="scm_city" class="form-control" ng-model="setCorp.scm_city">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Pincode</label>
                                    <input type="text" id="scm_pincode" class="form-control" ng-model="setCorp.scm_pincode">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">State</label>
                                    <!-- <input type="text" id="scm_state" class="form-control" ng-model="setCorp.scm_state"> -->
                                    <form action="">
                                        <select id="scm_state" class="form-control input-medium bfh-states" >
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Currency</label>
                                    <!-- <input type="text" id="scm_currency" class="form-control" ng-model="setCorp.scm_currency"> -->
                                    <form action="#">
                                      <select id="scm_currency" class="form-control input-medium bfh-currencies" data-currency="countries_states1" ng-model="setCorp.scm_currency" ></select>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Contact Name</label>
                                    <input type="text" id="scm_contact_name" class="form-control" ng-model="setCorp.scm_contact_name">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Contact Number</label>
                                   <!--  <input type="text" id="scm_contact_no" class="form-control" ng-model="setCorp.scm_contact_no"> -->
                                    <form action="#">
                                      <input type="text" id="scm_contact_no" class="form-control bfh-phone"  ng-model="setCorp.scm_contact_no">
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Email ID</label>
                                    <input type="email" id="scm_email" class="form-control" ng-model="setCorp.scm_email">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="name">Company Logo</label><br>
                                    <img id="blah" alt="your image" height="100" width="100" ng-src="{{setCorp.scm_image}}"/>
                                    <input type='file' id="scm_image" name="scm_image" multiple/>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-danger" id="btncancel" onclick="window.location = '#/'">Back</button>

                        <button type="button" class="btn btn-sm btn-success" id="btnsave" ng-click="updateSetupCorp()">Update</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>   



 <!-- Bootstrap Form Helpers -->
<script src="resources/lib/bootstrapsformhelpers/bootstrap-formhelpers.js"></script>
  <script>
  function getVal() {
    // This will get the value of #timepicker
    alert($("#timepicker").val())
  }
  </script>